 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.kreis {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    animation: bewegen 5s infinite alternate;
}

@keyframes bewegen {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200px);
    }
}
